@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #464948;
}

/* https://www.w3schools.com/css/css_grid.asp */

body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr;
    background: rgb(30, 142, 156);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator{
    width: 150px;
    height: 4px;
    background-color: #009dff;
    margin: 24px;
}

.message{
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: black;
    opacity: 60%;
}

/* https://www.w3schools.com/howto/howto_css_login_form.asp */

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control{
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input, button{
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #e6e6e6;
    opacity: 80%;
    letter-spacing: 0.5px;
    padding: 14px 64px;
    color: black;  
}

input ~ i{
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
    transition: color 0.4s;
    background: none;
}

input:focus ~ i{
    color: #009dff;
    opacity: 100%;
}


/* https://www.w3schools.com/css/css3_gradients.asp */

button.submit{
    color: white;
    padding: 14px 64px;
    margin: 25px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to
    right, #1a4966, #009dff);
    cursor: pointer;
}

button.create{
    color: white;
    padding: 14px 64px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to
    right, #f47634, #fa5700 );
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}






